.flex-container {
    display: flex;
    justify-content: space-between;
}

.para {
    display: flex;
    flex-direction:column ;
    align-items: flex-end;
    margin-top: 10%;
}

.white-box-container{
    width: 100px; 
    height: 100px; 
    background-color: aliceblue; 
    text-align: center; 
    box-shadow: 6px 6px royalblue;
}

.content-wrapper > blockquote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #1371b8;
  }

.button-box{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid aliceblue;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.gadget-content-wrapper {
    position: relative;
    margin-left: 725px;
    width: 700px;
    margin-top: 111px;
}

.blue-section {
    background-color: rgb(12, 165, 242); 
    height: 750px;
    overflow: hidden; 
    color: aliceblue;
}
.grey-section {
    background-color: rgba(233, 239, 235, 0.932); 
    height: 500px; 
    padding: 200px 0px 0px 150px; 
    overflow: hidden;
}

.white-section {
    height: 600px; 
    overflow: hidden;
}

.green-section {
    background-color: rgba(18, 149, 53, 0.932); 
    height: 300px;
}

.gadget-content-wrapper > div {
    margin-top: 2%;
}

.gadget-content-wrapper > div > p {
    margin: 5px;
}
.content-wrapper{
    padding-right: 450px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.media-icon {
    height: 40px; 
    width: 40px;
    margin-left: 2%;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-decoration {
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}

.gadget-container{
    display: flex; flex-direction: row; align-items: flex-end;
}

.social-container {
    display: flex;
    flex-direction: row;
}

body {
 margin: 0;
}

.section-flex {
    flex-direction: row;
}

.box-layout {
    width: 100px; 
    height: 100px; 
    background-color: aliceblue; 
    text-align: center;
}
